.carousel {
    width: 130px;
    padding: 0px 20px;
    margin: auto;
    position: relative;
    background: grey;
    border: 1px solid black;
    border-radius: 1rem;

    //绝对定位button
    button {
        position: absolute;
        top: 50%;
        padding: 0px;
        cursor: pointer;
    }

    .carousel-prev {
        left: 0px;
    }

    .carousel-next {
        right: 0px;
    }

    //设置轮播图
    .carousel-gallery {
        width: 130px;
        overflow: hidden;
    }

    ul,
    ol {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
    }

    ul {
        width: 9999px;
    }

    ol {
        width: 100%;
        height: 10px;
        justify-content: space-between;

        li {
            border-radius: 50%;
            background: whitesmoke;
            width: 10px;
            cursor: pointer;
        }
    }

}